<nav class="navbar navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="./">BB Dashboard</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <div class="float-right">
    <ul class="navbar-nav ml-auto ml-md-0 ">
      <li class="nav-item">
        <a class="nav-link nav-link-logout" href="#" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>