
<div class="container d-flex h-100 align-items-center">
  <div class="loginmodal-container">
      <div [hidden]="!invalidInputs" class="alert alert-danger">
          Invalid Username or Password
        </div>
    <h1 class="text-center">Login</h1><br>
    <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
      <input type="text" name="userName" placeholder="Username" required formControlName="userName">
      <div [hidden]="formdata.controls.userName.valid || (formdata.controls.userName.pristine && !submitted)" class="errorMsg">
        Email is required
      </div>
      <input type="password" name="userPassword" placeholder="Password" formControlName="userPassword">
      <div [hidden]="formdata.controls.userPassword.valid || (formdata.controls.userPassword.pristine && !submitted)" class="errorMsg">
          Password is required
      </div>
      <input type="submit"  [disabled]="!formdata.valid" name="login" class="login btn btn-primary" value="Login">
    </form>
  </div>
</div>